.well(id='block'+block.block+'chain'+block.chain+'well')
  form.form-horizontal

    .form-group
      label.col-sm-2.control-label(for='block'+block.block+'chain'+block.chain+'number') #{__('Block')}:
      .col-sm-10
        .input-group
          span.input-group-addon #
          input.form-control(id='block'+block.block+'chain'+block.chain+'number', type='number', value=block.block)

    .form-group
      label.col-sm-2.control-label(for='block'+block.block+'chain'+block.chain+'nonce') #{__('Nonce')}:
      .col-sm-10
         input.form-control(id='block'+block.block+'chain'+block.chain+'nonce', type='text', value=block.nonce)

    .form-group
      label.col-sm-2.control-label(for='block1chain1nonce') #{__('ID')}:
      .col-sm-10
          input#block1chain1id.form-control(type='text', name='id', required=true)
    .form-group
      label.col-sm-2.control-label(for='block1chain1nonce') #{__('Empresa')}:
      .col-sm-10
          input#block1chain1company.form-control(type='text', name='company', required=true)
    .form-group
      label.col-sm-2.control-label(for='block1chain1nonce') #{__('Cliente')}:
      .col-sm-10
          input#block1chain1customer.form-control(type='text', name='customer', required=true)
    .form-group
      label.col-sm-2.control-label(for='block1chain1nonce') #{__('Valor')}:
      .col-sm-10
          input#block1chain1amount.form-control(type='number', name='amount', required=true)
    .form-group
      label.col-sm-2.control-label(for='block1chain1nonce') #{__('Data')}:
      .col-sm-10
          input#block1chain1date.form-control(type='date', name='date', required=true)

    #state.form-group
      label.col-sm-2.control-label(for='block'+block.block+'chain'+block.chain+'previous') #{__('Prev')}:
      .col-sm-10
        input.form-control(id='block'+block.block+'chain'+block.chain+'previous', type='text', value=block.previous, disabled)

    #state.form-group
      label.col-sm-2.control-label(for='block'+block.block+'chain'+block.chain+'hash') #{__('Hash')}:
      .col-sm-10
        input.form-control(id='block'+block.block+'chain'+block.chain+'hash', type='text', disabled)

    .form-group
      .col-sm-2
        i.icon-spinner.icon-spin.icon-large
      .col-sm-10
        button.btn.btn-primary.ladda-button(id='block'+block.block+'chain'+block.chain+'mineButton', data-style='expand-right')
          span.ladda-label #{__('Mine')}
