extends layout

block content
    h1 Sistema de Notas Fiscais
    form(action='/create-invoice', method='post')
        div
            label(for='id') ID
            input(type='text', name='id', required=true)
        div
            label(for='company') Empresa
            input(type='text', name='company', required=true)
        div
            label(for='customer') Cliente
            input(type='text', name='customer', required=true)
        div
            label(for='amount') Valor
            input(type='number', name='amount', required=true)
        div
            label(for='date') Data
            input(type='date', name='date', required=true)
        div
            button(type='submit') Emitir Nota Fiscal
    a(href='/invoices') Ver Notas Fiscais
    a(href='/logout') Logout